
.main-content {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.inner {
  background-color: #e6e1e1;
  padding: 4rem;
  margin-left: -40px;
}

.navigation {
    padding: 10px;
    border: 1px white solid;
}

.conteudo {
  background-color: #e6e1e1;
  padding: 2rem;
  margin-top: 1rem;
}

.conteudo2 {
  background-color: #9a7aeb;
  padding: 1.5rem;
  margin-top: 1.5rem;


}
